.site-about-container {
    margin: 2vh;
    color: #555555;
    text-align: center;
    font-size: 1.3em;
}

.gentle_icon_gentle_page {
    display: block;
    margin: auto;
    height: 20vh;
    object-fit: contain;
}

.temp-logo {
    width: 10vh;
    height: 10vh;
}

.github-info-about-site {
    text-align: center;
    margin: 2vh;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-git {
    background-color: #555555;
    color: white;
}

.button-git:hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.git-logo {
    -moz-box-shadow: 0 0 30px #fff;
    -webkit-box-shadow: 0 0 30px #fff;
    box-shadow: 0px 0px 30px #fff;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=white, Strength=5);
    border-radius: 100%;
}

.our_team,
.about-the-site-container {
    min-height: 80vh;
    background: linear-gradient(#edfcf6, #fef6f6)
}

.faq_icon {
    width: 15vw;
}

.faq_title {
    margin-top: 1vh;
    border-bottom: #555555 solid 2px;
}

.person-profile {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    height: 46vh;
    width: 44vw;
    object-fit: contain;
    padding: 0.5vh;
    margin: 1vh 2.8vw;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.person-profile.dona {
    display: block;
    margin: auto;
}

.ourTeamPic {
    height: 150px;
}

.ourTeamPic:hover {
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our-team-title {
    font-family: 'Oleo Script', cursive;
    border-bottom: 1px lightslategray;
    margin: 0;
}

.two-person-cont {
    margin: auto;
}

.honorable-mention {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 2vh;
}

.honorable-mention img {
    display: block;
    margin: auto;
}

.honorable-mention-p {
    margin: auto;
    width: 60vw;
}

.port-but {
    border: 0;
    background-color: transparent;
}

.port-but:visited {
    background-color: pink;
}

.port-but,
.git-but {
    border: 0;
    background-color: transparent;
}

.but-icon {
    height: 5vh;
    width: 5vh;
}

.derp {
    display: none;
}

@media only screen and (min-width: 768px) {
    .person-profile {
        height: 70vh;
        width: 15vw;
    }
    .two-person-cont,
    .person-profile.dona {
        display: inline-block;
    }
    .honorable-mention {
        text-align: center;
    }
    .honorable-mention img {
        display: inline-block;
    }
    .honorable-mention-p {
        display: inline-block;
        line-height: 100%;
    }
    .ourTeamPic,
    .derp {
        /* position: absolute; */
        height: 125px;
        border-radius: 90%;
    }
    .derp {
        display: none;
    }
    .pic-cont:hover .ourTeamPic {
        display: none;
    }
    .pic-cont:hover .derp {
        display: block;
    }
    .pic-cont {
        position: relative;
        height: 30%;
        width: 0%;
        padding: 0 10%;
    }
}