* {
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1;
}

body {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    width: 100vw;
    margin: 0;
    font-family: Avenir, Helvetica, sans-serif;
    color: darkgrey;
}

h1 {
    text-align: center;
}

.scale-text-safety .scale-text-gentle {
    color: white;
    font-size: 1.6em;
    text-shadow: -0.5px -0.5px 0 darkgrey, 0.5px -0.5px 0 darkgrey, -0.5px 0.5px 0 darkgrey, 0.5px 0.5px 0 darkgrey;
}

.scale-text-gentle {
    color: white;
    padding: 1vh;
}

.scale-text-gentle span,
.scale-text-safety span {
    padding: 1vh;
}

.scale-text span {
    display: inline-block;
    width: 9vw;
}

a {
    cursor: pointer;
}

.app-wrap,
.product-container {
    min-height: 80vh;
    padding-bottom: 22vh;
}

.header-spacing-div {
    width: 100%;
    padding-top: 20vw;
}

@media only screen and (min-width: 1000px) {
    .header-spacing-div {
        display: none;
    }
}