.create_account {
    height: 80vh;
    width: 100vw;
    padding: 3vh;
}

.sign-up-header {
    text-align: center;
}

.create_account input {
    display: block;
    padding: 1vh;
    margin: 1vh 1vh 1vh 0;
    width: 80%;
}

.create_account button {
    display: block;
    margin: 4vh auto;
}