
.create_account {
    height: 80vh;
    width: 100vw;
    padding: 3vh;
}

.create_account input {
    display: block;
    padding: 1vh;
    margin: 1vh 1vh 1vh 0;
    width: 80%;
}

.create_account button {
    display: block;
    height: 15vh;
    width: 15vh;
    color: white;
    background-color: purple;
    padding: 2vh;
    margin: 4vh auto;
}