.image-container-product-page {
    height: 35vh;
    width: 35vh;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(139, 136, 136, 0.2), 0 6px 20px 0 rgba(139, 136, 136, 0.2);
    font-size: 7vmin;
    background-size: contain;
}

.image-container {
    display: inline-block;
    position: relative;
    height: 20vh;
    width: 20vh;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(139, 136, 136, 0.2), 0 6px 20px 0 rgba(139, 136, 136, 0.2);
    background-image: url(../images/landing_page_icons/foundation_alt_image.jpg);
    background-size: contain;
}

.product-display-container-product-page {
    display: block;
    margin: 5vh auto;
    width: 77vw;
    height: 50vh;
    font-size: 3vmin;
}

.product-display-container {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    width: 45vw;
    height: 40vh;
    margin: 8vw 2.5vw;
    vertical-align: 0;
    justify-content: space-around;
}

.product-image-product-page {
    display: inline-block;
    height: 35vh;
    width: 35vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-repeat: no-repeat;
    position: relative;
}

.product-image {
    display: inline-block;
    height: 20vh;
    width: 20vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-repeat: no-repeat;
    position: relative;
}

/* display container for image, icons and ratings */

.display-cont {
    height: 3vh;
    width: 100%;
    text-align: right;
}

.icon-cont {
    margin: 1vh 0;
    display: inline-block;
    width: 50%;
    text-align: center;
    line-height: 100%;
}

.info-container {
    margin: 4% 0;
}

/*icons and ratings, display all products, landing page*/

.gentle-icon,
.safety-icon,
.gentle-icon-product-page,
.safety-icon-product-page {
    width: 20%;
    height: 30%;
    margin: 0 2%;
    box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(250, 250, 250, 0.19);
}

.gentle-rating,
.safety-rating,
.gentle-rating-product-page,
.safety-rating-product-page {
    font-size: 4.4vmin;
    line-height: 100%;
    vertical-align: top;
}

/*icons and ratings, product display page*/

.gentle-icon-product-page,
.safety-icon-product-page {}

.gentle-rating-product-page,
.safety-rating-product-page {}

/*end of icons*/

.product-name {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.brand-text,
.price-text,
.product-name-text {
    display: inline-block;
    font-size: 3vmin;
    padding: 2vmin 2vmin;
}

.brand-text,
.price-text {
    color: darkgrey;
    font-weight: 100;
}

.product-name-text {
    color: rgb(15, 20, 28);
    font-size: 4vmin;
}

.return-home-cont {
    height: 40vh;
    width: 100vw;
}

.return-home-btn {
    display: block;
    margin: auto;
}

.page-numbers {
    list-style-type: none;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: x-large;
}

.page-numbers-list {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}

.shadow{
    -webkit-text-stroke: 0.2px black;
    text-shadow:
   -0.2px -0.2px 0 #000,  
   0.2px -0.2px 0 #000,
    -0.2px 0.2px 0 #000,
    0.2px 0.2px 0 #000;
}