.product-display-container {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    width: 45vw;
    margin: 4vw 2.5vw;
    vertical-align: 0;
}

.image-container {
    display: inline-block;
    position: relative;
    margin: auto;
    text-align: center;
}

.product-image {
    display: inline-block;
    height: 30vh;
    width: 30vh;
    /* max-height: 100%;
    max-width: 100%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image {
    position: relative;
}

.gentle-icon,
.safety-icon {
    height: 3.5vh;
    width: 3.5vh;
}

.gentle-icon {
    position: absolute;
    top: 5%;
    left: 65%;
}

.safety-icon {
    position: absolute;
    top: 20%;
    left: 65%;
}

.gentle-rating,
.safety-rating {
    position: absolute;
    font-size: 5vmin;
}

.gentle-rating {
    top: 5%;
    left: 85%;
    color: green;
}

.safety-rating {
    top: 20%;
    left: 85%;
    color: darkred;
}

.product-name {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.brand-text,
.price-text,
.product-name-text {
    display: inline-block;
    font-size: 3.2vmin;
    padding: 2vmin 2vmin;
}

.brand-text,
.price-text {
    color: darkgrey;
    font-weight: 100;
}

.product-name-text {
    color: rgb(15, 20, 28);
    font-size: 3.5vmin;
}