.product-image-product-page,
.image-container-product-page {
    height: 60vw;
    width: 60vw;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container-product-page {
    text-align: center;
    font-size: 7vmin;
    background-size: contain;
}

.product-image-product-page {
    display: block;
    background-repeat: no-repeat;
    position: relative;
}

.image-container {
    display: inline-block;
    position: relative;
    height: 20vh;
    width: 20vh;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(139, 136, 136, 0.2), 0 6px 20px 0 rgba(139, 136, 136, 0.2);
    background-image: url(../images/landing_page_icons/foundation_alt_image.jpg);
    background-size: contain;
}

.product-image:hover {
    border: 2px solid #edfcf6;
}

.product-display-container-product-page {
    display: block;
    margin: 5vh auto;
    width: 77vw;
    font-size: 3vmin;
}

.image-container,
.product-image {
    height: 60vw;
    width: 60vw;
    margin: auto;
}

.product-display-container {
    text-align: center;
    vertical-align: top;
    width: 60vw;
    margin: auto;
    cursor: pointer;
}

.product-image {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-repeat: no-repeat;
    position: relative;
}

/* display container for image, icons and ratings */

.display-cont {
    width: 100%;
    text-align: right;
}

.icon-cont-safety,
.icon-cont-gentle {
    margin: 1vh 0;
    display: inline-block;
    width: 50%;
    text-align: center;
    border-radius: 100%;
}

.info-container {
    margin: 4% 0;
    text-align: center;
}

/*icons and ratings, display all products, landing page*/

.gentle-icon,
.safety-icon,
.gentle-icon-product-page,
.safety-icon-product-page {
    height: 30px;
    left: 0;
    top: 8px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(250, 250, 250, 0.19);
}

.gentle-rating,
.safety-rating,
.gentle-rating-product-page,
.safety-rating-product-page {
    font-size: 4.4vmin;
}

/*end of icons*/

.product-name {
    font-size: 4vmin;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.brand-text,
.price-text,
.product-name-text {
    display: inline-block;
    font-size: 3vmin;
    padding: 2vmin 2vmin;
}

.brand-text,
.price-text {
    color: darkgrey;
    font-weight: 100;
}

.product-name-text {
    color: rgb(15, 20, 28);
    font-size: 4vmin;
}

.return-home-btn {
    margin: auto;
}

.no-results-button {
    text-align: center;
}

.no-results-button button {
    margin: 1vh;
}

.no-results-cont {
    min-height: 80vh;
    text-align: center;
}

.no-results-cont h5 {
    margin: auto 2vh;
}

.page-numbers {
    list-style-type: none;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: x-large;
}

.page-numbers-list {
    display: inline-block;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 5%;
    cursor: pointer;
}

.pag-button-cont {
    text-align: center;
}

.pag-button-cont>div {
    margin: 0 1vh;
}

ul.page-numbers {
    height: 2vmin;
}

/*for desktop*/

@media only screen and (min-width: 1000px) {
    .product-display-container {
        width: 15vw;
        margin: 2vh 5vw;
        display: inline-block;
    }
    .image-container,
    .product-image {
        height: 15vw;
        width: 15vw;
    }
    .product-name,
    .product-name-text,
    .price-text,
    .brand-text,
    .gentle-rating,
    .safety-rating {
        font-size: 2vmin;
    }
    .page-numbers {
        font-size: 2vmin;
    }
    .product-image-product-page,
    .image-container-product-page {
        height: 20vw;
        width: 20vw;
    }
    .product-display-container-product-page {
        display: inline-block;
        width: initial;
        height: initial;
        margin-left: 35vw;
    }
    .product-page-gentle-safety-rating {
        margin: 5vh 0;
    }
    .product-page-gentle-safety-rating div,
    .product-page-gentle-safety-rating {
        width: 10vw;
    }
    .gentle-icon,
    .safety-icon,
    .gentle-icon-product-page,
    .safety-icon-product-page {
        top: 5px;
        height: 20px;
    }
}