
.MyAccount{
    background-color: #B8D4E3;
}
.CreateAccount{
    background-color: #EEFFDB;

}

.FeatureSetLink{
    background-color: #85C7DE;

}

.ExpandMenuImage{
    margin: auto;
    height: 100%;
}
.LipstickCenter{
    display: inline-block;
    margin: 2vw 2vh;
    height: 12vh;
}
.divPicture{
    display: inline-block;
    margin: 2vw 2vh;
    height: 12vh;
}
.LipstickImg{
    height:100%;
    padding-left: 18px;
}
.AccountFont{
    color:#85C7DE;
    font-weight: bold;
    font-size: 1em;

}
.LipstickFont{
    padding-left: 17px;
    font-size: 1em;

}

.LongTextFeatureSet {
    width: 45vw;
    display: inline-block;
    padding-top: 5%;
    position: absolute
}

.FeatureSetFont{
    color:whitesmoke;
    font-weight: bold;
    font-size: 1em;


}
.myAccountDivSize{
    height:20vh;
    width:80vw;
    margin: 0 auto;
    background-color:#94b6a7;
    margin-top:3vh;
    text-align: center;
    color: whitesmoke
    /*
    margin-right:5vw;
    margin-left:5vw; */
}