* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/* footer*/

.site-footer {
    position: relative;
    background-color: black;
    width: 100vw;
    height: 70vw;
    bottom: 0;
}

.footer-content {
    padding-left: 2vh;
    text-align: center;
    height: 7vh;
    background-color: black;
}

.footer-content > span {
    display: inline-block;
    color: white;
    line-height: 100%;
    padding: 1.5vh;
}

.footer-content > img {
    float: left;
}

.copyright_span {
    font-size: 2vmin;
}
/* product finder */

.product_finder {
    display: table;
    width: 100vw;
    /* text-align: center; */
    height: 15vh;
    background-color:  rgba(184, 234, 251, 0.5);
}

form.product_finder {
    height: 100vh;
}

.product_finder > div {
    margin: 5vh;
}

.product_finder button {
    display: block;
    background-color: black;
    color: white;
}

.product_finder > label {
    display: inline-block;
}

/* landing page content */

.landing_button {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.landing_button, .wrap-landing-img {
    width: 50vw;
    height: 40vh;
}

.wrap-landing-img {
    padding: 15%;
}

.landing_img{
    padding: 10%;
}

.wrap-landing-img > .landing_img, 
.landing_button > .wrap-landing-img > span {
    margin: auto;
    display: block;
    text-align: center;
}

.wrap-landing-img > span, .product_finder > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.product_finder > span {
    font-size: 2em;
}

.safety{
    background-color: rgba(184, 234, 251, 0.5);
} 

.products{
    background-color: rgba(253, 207, 246,0.5);
    color: white;
} 

.safety_rating{
    background-color: rgba(253, 207, 246,0.5);
    color: white;
} 

.gentle_rating {
    background-color: rgba(37, 203, 109, 0.5);
}

section.landing_page {
    display: block;
    /* background-image: url("../images/landing_page_icons/foundation.png"); */
    background-size: cover;
}

/*sign in form */
form.sign_in_form {
    background-color: rgba(37, 203, 109, 0.5);
    width: 100vw;
    height: 100vh;
    padding-top: 15vh;
}

.email > label, .password > label, .email > input, .password > input {
    display: block;
    font-size: 1em;
    font-weight: 600;
    width:60vw;
    height: 10vw;
    margin: 2vh auto;
}

.email, .password {
    margin: auto;
}

.sign_in_form > button {
    display: block;
    margin: 2vh auto;
    height: 10vh;
    width: 10vh;
    background-color: rgba(184, 234, 251,0.7);
}
/* for screens larger than a cell phone */

@media only screen and (min-width: 768px) {
    body {
        height: 130vh;
    }
    /* footer */
    .site-footer {
        height: 15vw;
        padding-top: 1vh;
    }
    .copyright_span {
        font-size: 1vmin;
    }

    div.copyright_span {
        display: block;
        width: 100vw;
    }
    /*landing page */
    
    .wrap-landing-img {
        padding: 5%;
    }
    
    .landing_img{
        padding: 5%;
    }
}
