.header-container {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 20vw;
    width: 100vw;
    background-color: white;
    z-index: 1;
    top: 0;
    position: absolute;
}

.header-icon,
.header-icon img {
    display: inline-block;
    height: 6vh;
    border: 2px;
    vertical-align: top;
}

.login-icon,
.search-bar {
    width: 20vw;
    text-align: center;
}

.logo {
    height: 10px;
    width: 10px;
}

.search-bar {
    margin-top: 1.7vh;
}

.site-title,
.site-title img {
    height: 10vh;
    width: 10vh;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

.site-title h1 {
    line-height: 10vh;
    font-size: 8vmin;
    margin: 0;
    width: 70vw;
}

.display-none {
    display: none;
}

.search-bar-style-show {
    color: #555555;
    height: 10vw;
    margin: 1.5% 0 1.5% 5%;
    font-size: 1em;
    border: none;
    position: relative;
    z-index: 1;
}

.search-display-none {
    height: 0;
    width: 0;
}

#search-bar-style-show {
    width: 70vw;
    margin-left: 3vw;
}

.advanced-search-button-show {
    color: blue;
    cursor: pointer;
}

.button-style-show {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 10%;
    width: 20vw;
    height: 10vw;
    margin: 1.5% 0 1.5% 5%;
    color: black;
    z-index: 1;
}

.header-container-show {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    z-index: 1;
    width: 100vw;
    top: 0;
    position: absolute;
}

/* expanded menu*/

.expanded-menu {
    height: 100vh;
    width: 100vw;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
}

form {
    height: 10vh;
}

.expanded-menu-hide {
    transform: translate(-100%);
}

.expanded-menu-show {
    transform: translate(0);
}

.menu-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: #e4f7ef;
    overflow: scroll;
}

.menu-container a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.menu-container a:hover {
    color: green;
}

.menu-item-cont {
    display: flex;
    align-items: center;
    margin: 3vh auto 0 auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-item-cont img {
    height: 10vh;
    width: 10vh;
    vertical-align: top;
    overflow: hidden;
}

.menu-item-cont img.home {
    height: 10vh;
    width: 10vh;
}

.product-finder-exp-menu-title {
    color: lightslategray;
}

.exp-menu-titles {
    color: lightslategray;
    display: inline-block;
    width: 15vh;
    font-size: 6vmin;
}

.desktop-link {
    display: none;
}

/* small mobile */

@media screen and (max-height: 450px) {
    .expanded-menu-show {
        padding-top: 15px;
    }
    .expanded-menu-show a {
        font-size: 18px;
    }
}

/*desktop*/

@media only screen and (min-width: 1000px) {
    .header-icon{
        cursor: pointer;
    }
    .header-container,
    .header-container-show {
        height: 10vh;
        position: relative;
        top: 0;
    }
    .header-container-show {
        z-index: 1;
        position: relative;
        top: 0;
    }
    .expanded-menu-hide {
        display: initial;
    }
    .desktop-link {
        display: inline-block;
        vertical-align: top;
        font-size: 2vmin;
        margin: 0;
        padding: 0 1vh;
        line-height: 10vh;
    }
    .site-title {
        display: inline-block;
        width: 40vw;
        margin: 0;
        padding: 0;
    }
    .site-title h1 {
        font-size: 4vmin;
        margin: 0 2vh;
        text-align: left;
    }
    .search-bar {
        width: 10vh;
    }
    .button-style-show {
        display: inline-block;
        position: absolute;
        height: initial;
        width: initial;
        cursor: pointer;
        background-color: #edfcf6;
        color: #555;
        border-radius: 100%;
        border: none;
        z-index: 1;
        padding: 0;
        margin: 0;
        height: 50px;
        width: 60px;
        margin: 0 10px;
    }
    .search-form {
        height: initial;
        position: absolute;
        background-color: white;
        width: 100%;
    }
    .initial-display {
        height: 0;
    }
}

.header-links-desk-cont {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 10vh;
    vertical-align: top;
}

.desktop-link:hover {
    background-color: #e4f7ef;
}

/*super wide screens*/

@media only screen and (min-width: 1500px) {
    .desktop-link {
        font-size: 3vmin;
        margin: 0 1vw;
        border-right: 2px solid grey;
        border-left: 2px solid grey;
        padding: 0 1vh;
    }
    .header-icon .search-bar {
        width: 10vh;
    }
}

/*for sideways mobile*/

@media only screen and (max-height: 375px) {
    .header-container {
        height: 20vh;
    }
    .site-title h1 {
        line-height: 20vh;
    }
    .site-title,
    .site-title img {
        vertical-align: initial;
    }
    .search-bar {
        margin-top: 6vh;
    }
}