.header-container {
    /* position: fixed; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 10vh;
    background-color: white;
    z-index: 1;
}

.header-icon {
    display: inline-block;
    height: 10vh;
    border: 2px;
    vertical-align: top;
}

.login-icon,
.search-bar {
    width: 25vw;
    text-align: center;
    margin-top: 1vh;
}

.search-bar {
    margin-top: 0.5vh;
}

.site-title {
    width: 50vw;
    text-align: center;
}