.ingredient-table td {
    text-align: center;
    border-right: 1px solid rgb(196, 193, 193);
    font-size: 4vmin;
}

.ingredient-column {
    word-break: break-all;
}

.ingredient-row td p {
    margin: auto;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    line-height: 7vh;
    cursor: default;
}

.chemical-gentle-rating {
    background-color: #edfcf6;
}

.chemical-safety-rating {
    background-color: #fef6f6;
}

.icon-width {
    height: 12vh;
    width: 12vh;
}

.ingredients-title {
    font-size: 7vmin;
    font-weight: 600;
    font-family: 'Cedarville Cursive', cursive;
}

@media only screen and (min-width: 1000px) {
    .ingredient-table td {
        font-size: 2vmin;
    }
}