.ingredient-table td {
    text-align: center;
}

.ingredient-row td p {
    margin: auto;
    border-radius: 100%;
    width: 5vh;
    height: 5vh;
    line-height: 5vh;
}

.chemical-gentle-rating {
    background-color: rgb(235, 241, 247);
}

.chemical-safety-rating {
    background-color: rgb(254, 226, 251);
}