.chemical-gentle-rating {
    background-color: #0fb8ad;
    text-align: center;
    width: 10%;
}

.chemical-safety-rating {
    background-color: #f8d7da;
    text-align: center;
    width: 10%;
}

.ingredient-column {
    border: 1px solid;
    width: 70%;
    background-color: #B8D4E3;
}

.icon-width {
    width: 80%;
}

.ingredient-table {
    border-collapse: collapse;
    width: 80vw;
    margin: auto;
    marginTop: 5%;
}