.landing-page-button-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* background-image: url("../images/landing_page_icons/foundation_transparent.png"); */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
}

.landing_button {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing_button,
.wrap-landing-img {
    width: 45vw;
    height: 60vw;
}

.lipstick {
    height: 40vw;
    width: 40vw;
}

.gentle {
    height: 40vw;
    width: 40vw;
}

.safety_icon {
    height: 40vw;
    width: 40vw;
}

.product {
    height: 40vw;
    width: 43vw;
}

.safety_icon,
.top-span,
.safety-span,
.gentle-span {
    margin: auto;
    display: block;
    font-size: 5vmin;
    text-align: center;
}

.product_finder>span {
    font-size: 2em;
}

.safety,
.products,
.safety_rating,
.gentle_rating {
    color: #555555;
}

.products {
    background-color: #edfcf6;
}

.safety {
    background-color: #fef6f6;
}

.safety_rating {
    background-color: #fef6f6;
}

.gentle_rating {
    background-color: #edfcf6;
}

section.landing_page {
    display: block;
    background-size: cover;
}

.landing-two-container {
    margin-left: 0.5vh;
}

.landing-bar-graph-safety {
    height: 3.0vh;
    width: 100%;
    margin: 1vh 0;
}

.landing-bar-graph-gentle {
    height: 5vh;
    width: 100%;
    margin: 1vh 0;
}

/*for mobile */

@media only screen and (max-height: 700px) and (max-width: 1000px) {
    .safety_rating,
    .gentle_rating,
    .safety_rating>.wrap-landing-img,
    .gentle_rating>.wrap-landing-img {
        height: 10vh;
        display: block;
        width: 95vw;
        margin: 2vh auto;
    }
    .safety_icon,
    .gentle {
        height: 10vh;
        width: 10vh;
        display: inline-block;
    }
    .safety_icon span,
    .gentle span {
        display: inline-block;
    }
    .safety-span,
    .gentle-span {
        display: inline-block;
        width: 30vh;
        position: relative;
        left: 10vh;
        line-height: 10vh;
        vertical-align: top;
        font-size: 5vmin;
    }
    .wrap-landing-img {
        line-height: 100%;
    }
}

/*for desktop*/

@media only screen and (min-width: 1000px) {
    .landing_button,
    .wrap-landing-img {
        height: 15vw;
        width: 15vw;
        margin: 4.9vw;
    }
    .wrap-landing-img {
        display: block;
        margin: auto;
    }
    .gentle,
    .product,
    .safety_icon,
    .lipstick {
        height: 15vw;
        width: 15vw;
    }
    .landing-two-container {
        display: inline-block;
        width: 50vw;
        margin-left: 0;
    }
    .landing-page-button-container {
        display: block;
        margin: auto;
        height: 60vh;
    }
}