.landing-page-button-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* background-image: url("../images/landing_page_icons/foundation_transparent.png"); */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
}

.landing_button {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing_button,
.wrap-landing-img {
    width: 45vw;
    height: 30vh;
}

.wrap-landing-img {
    padding: 15%;
}

.landing_img {
    padding: 10%;
}

.wrap-landing-img>.landing_img,
.landing_button>.wrap-landing-img>span {
    margin: auto;
    display: block;
    text-align: center;
}

.wrap-landing-img>span,
.product_finder>span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.product_finder>span {
    font-size: 2em;
}

.safety,
.products,
.safety_rating,
.gentle_rating {
    color: #555555;
}

.safety {
    background-color: rgba(184, 234, 251, 0.5);
}

.products {
    background-color: rgba(253, 207, 246, 0.5);
}

.safety_rating {
    background-color: rgba(253, 207, 246, 0.5);
}

.gentle_rating {
    background-color: rgba(37, 203, 109, 0.5);
}

section.landing_page {
    display: block;
    background-size: cover;
}

.landing-two-container {
    margin-left: 0.5vh;
}

@media only screen and (min-width: 768px) {
    .wrap-landing-img {
        padding: 5%;
    }
    .landing_img {
        padding: 5%;
    }
}