.loader-container {
  height: 80vh;
  object-fit: contain;
}

.loader-container img {
  width: 100%;
}

.prod-pg-loader {
  margin: 25vh 0;
}

@media only screen and (min-width: 1000px) {
  .loader-container img {
    width: initial;
    margin: 1vh;
    height: 10vw;
  }
}