.check-product-image-container {}

.logo-background-color {
    width: 30vh;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(253, 207, 246, 0.5);
}

.check-product-logo {
    margin: 2vh auto;
    display: block;
    height: 30vh;
    width: 30vh;
    position: relative;
    transform: translate(-1vh);
}

.check-product-description {
    text-align: center;
    font-size: 6vmin;
    color: lightslategray;
}

.check-product-input-container {
    text-align: center;
    margin-top: 5%;
}

.check-product-input-field {
    padding-bottom: 2vh;
    background-color: #E6E6FA;
    border: none;
    width: 80vw;
    height: 60vw;
}

.check-product-input-field:focus {
    outline: none;
    border: 1px solid pink;
    box-shadow: 0 0 10px #719ECE;
}

.check-product-button {
    background-color: purple;
    color: white;
}

.check-product-button-container {
    text-align: center;
    margin-top: 5%;
}

/*for desktop*/

@media only screen and (max-height: 1000px) and (min-width: 1000px) {
    .check-product-description {
        margin: auto;
        text-align: center;
        font-size: 3vmin;
        width: 50vw;
    }
    .check-product-input-field {
        width: 50vw;
        height: 20vh;
    }
    .check-product-image-container {
        height: 100vh;
    }
}