.product-page-gentle-safety-rating {}

.product-display-container {
    display: block;
    margin: 2vh auto;
    width: 65vw;
}

.image-container {
    width: 30vh;
    height: 30vh;
}

.product-page-gentle-safety-rating div {
    display: inline-block;
    height: 7vh;
    vertical-align: top;
}

a {
    color: #555555;
}

.product-page-gentle-rating {
    width: 50%;
    background-color: #0fb8ad;
    text-align: center;
}

.product-page-safety-rating {
    width: 50%;
    background-color: #f8d7da;
    text-align: center;
}

.display-all-products-content {
    margin: 6vh 0;
}

.tab-ingredient {
    display: block;
    margin-bottom: 10vh;
}

.videos-default-text {
    text-align: center;
}