/*product finder button on landing page*/

.product_finder_landing_button {
    display: table;
    font-family: 'Cedarville Cursive', cursive;
    background-color: rgba(184, 234, 251, 0.5);
    width: 90vw;
    height: 10vh;
    margin: auto;
    text-align: center;
    font-size: 11vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 10vh;
    z-index: 0;
}

.product_finder_landing_button>span {
    display: table-cell;
    vertical-align: center;
}

/* product finder page */