/*product finder button on landing page*/

.product_finder_landing_button {
    display: table;
    font-family: 'Oleo Script', cursive;
    background-color: rgba(184, 234, 251, 0.5);
    color: #989799;
    width: 95vw;
    height: 13vh;
    margin: auto;
    text-align: center;
    font-size: 11vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 10vh;
    z-index: 0;
    padding: 2vh;
}

.product_finder_landing_button>span {
    display: table-cell;
    vertical-align: middle;
    font-size: 8vmin;
}

/* product finder page */

.product-wizard-cont {
    height: 100vh;
    background-image: url(../images/displayImages/banana_leaf.jpg);
}

.product-wizard-inner {
    text-align: center;
}

.product-wizard-cont #wizard-input {
    position: relative;
    opacity: initial;
    pointer-events: initial;
}

.wiz-button {
    box-sizing: initial;
    margin: 3vh;
    border: solid 15px white;
}

.wizard-div button {
    display: block;
    margin: auto;
}

#num-input {
    width: 70%;
}

.wizard-div {
    height: 60vh;
    width: 80vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 1vh;
    background-color: white;
}

.wiz-intro-cont h3 {
    font-family: 'Oleo Script', cursive;
    color: #989799;
}

#wiz-label {
    font-size: 5vmin;
}

.wiz-input-cont {
    text-align: left;
    margin: auto;
    width: 35vw;
}

.wiz-ingredient-cont {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 1vh;
}

#wiz-label-ingredients {
    font-size: 4vmin;
}

.wiz-safe-gen-cont {
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: 2vh 0;
}

.wiz-right {
    border-right: 2px solid rgba(5, 99, 122, 0.8);
}

#retinol-error {
    text-decoration: line-through;
    font-size: 5vmin;
}

.recommendations-title {
    width: 80vw;
    text-align: center;
    margin: 2vh auto;
}