.product_finder_landing_button {
    display: table;
    font-family: 'Cedarville Cursive', cursive;
    background-color: rgba(184, 234, 251, 0.5);
    width: 90vw;
    height: 10vh;
    margin: auto;
    text-align: center;
    font-size: 11vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 10vh;
}

.product_finder_landing_button>span {
    display: table-cell;
    vertical-align: center;
}

.product_finder_content {
    width: 100vw;
    /* text-align: center; */
    height: 15vh;
    background-color: rgba(184, 234, 251, 0.5);
}

form.product_finder {
    height: 100vh;
}

.product_finder>div {
    margin: 5vh;
}

.product_finder button {
    display: block;
    background-color: black;
    color: white;
}

.product_finder>label {
    display: inline-block;
}