.product-page-gentle-safety-rating {
    display: inline-block;
    height: 7vh;
    vertical-align: top;
}

a {
    color: #555555;
}

.product-page-gentle-rating,
.product-page-safety-rating {
    display: flex;
    display: inline-block;
    width: 50%;
    background-color: #edfcf6;
    text-align: center;
    position: relative;
    height: 60px;
    line-height: 60px;
    vertical-align: top;
}

.product-page-safety-rating {
    background-color: #fef6f6;
}

.display-all-products-content {
    margin: 6vh 0;
}

.product-page-gentle-result {
    padding: 3%;
    font-size: 1.2em;
    font-weight: bold;
}

.product-page-safety-result {
    padding: 3%;
    font-size: 1.2em;
    font-weight: bold;
}

.tab-ingredient {
    display: block;
    margin-bottom: 10vh;
}

.videos-default-text {
    text-align: center;
}

.product-page-gentle-icon-div {
    height: 7vh;
    width: 20vw;
    object-fit: contain;
    display: inline-block;
}

.product-page-gentle-text-div,
.product-page-safety-text-div {
    height: 7vh;
    width: 30vw;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.product-page-safety-icon-div {
    height: 7vh;
    width: 20vw;
    object-fit: contain;
    display: inline-block;
}

.product-page-gentle-icon {
    height: 100%;
}

.product-page-safety-icon {
    height: 100%;
}

.product-page-gentle-text,
.product-page-safety-text {
    font-size: 0.8em;
    padding: 3%;
}

.rate-button {
    margin: 1vh;
    float: left;
    display: block;
}

@media only screen and (min-width: 1000px) {
    .product-page-gentle-rating:hover,
    .product-page-safety-rating:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        z-index: 1;
    }
    .product-page-safety-rating,
    .product-page-gentle-rating {
        height: 14vw;
    }
}