.drop-down {
    background-color: black;
    color: white;
    height: 5vh;
    width: 20vw;
}

.hide-drop-content {
    display: none;
    z-index: 1;
    background-color: #f9f9f9;
}

.show-drop-content {
    display: block;
}

.drop-down-category {
    display: block;
    text-align: left;
    background-color: black;
    color: white;
    width: 25vw;
    height: 5vh;
}

.drop-down-category:hover {
    background-color: #9df39f;
}

@media only screen and (min-width: 768px) {
    .drop-down {
        width: 8vw;
    }

    .drop-down-category {
        width: 10vw;
        height: 5vh;
    }
}