.drop-down {
    background-color: black;
    color: white;
    height: 5vh;
    width: 15vw;
}

.hide-drop-content {
    display: none;
    z-index: 1;
    background-color: #f9f9f9;
}

.show-drop-content {
    display: block;
}

.drop-down-category {
    display: block;
    text-align: left;
    background-color: black;
    color: white;
    width: 25vw;
    height: 5vh;
}

.drop-down-category:hover {
    background-color: #9df39f;
}