.tab-list {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 5vh;
}

.tab-header-ingredient,
.tab-header-video,
.tab-header-review,
.tab-header-detail {
    font-size: 1.3em;
    display: inline-block;
    width: 23vw;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top: 2px solid #555555;
    border-left: 2px solid #555555;
    padding: 1%;
}

.tab-header-ingredient {
    width: 30vw;
}

.tab-review {
    text-align: center;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.tab-review-button {
    padding: 5%;
    color: white;
    font-size: large;
}

.tab-video {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.tab-ingredient {
    width: 100vw;
}

.tab-detail {
    width: 100vw;
    min-height: 50vh;
}

.product-detail-yes {
    background-color: rgb(235, 241, 247);
}

.product-detail-No {
    background-color: rgb(254, 226, 251);
}

.product-detail-table td {
    text-align: center;
}

.product-detail-row td p {
    margin: auto;
    border-radius: 100%;
    width: 5vh;
    height: 5vh;
    line-height: 5vh;
}

.product-detail-description {
    margin: 5% 5%;
    padding: 5%;
    font-size: large;
    border-top: 2px solid #a5a5a7;
}

.skintype-icon {
    display: inline-block;
    height: 12vh;
    width: 9vh;
    margin: 1vh;
}

.ethical-icon {
    height: 12vh;
    width: 13vh;
    margin: 1vh;
}

.icon-container {
    margin: auto;
    border-top: 2px solid #a5a5a7;
    width: 90vw;
}

.icon-container-const {
    width: 90vw;
    margin: auto;
}

.active-tab-ingredients,
.active-tab-reviews,
.active-tab-videos,
.active-tab-details {
    font-weight: 900;
    background-color: #9df39f;
}

/* youtube videos css */

.youtube-reviews {
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
}

.video-container {
    margin: auto;
}

.youtube-title {
    width: 80vw;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    bottom: 0;
}

.video-container {
    margin: 5vh auto;
    height: 20vh;
    width: 80vw;
}

.tab-header-ingredient:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 1000px) {
    .tab-ingredient,
    .tab-detail,
    .icon-container-const,
    .icon-container {
        width: 60vw;
        margin: auto;
    }
    #videoPlayer,
        {
        margin: 5vh;
        height: initial;
        width: initial;
    }
    .video-container,
    .loader-container {
        height: 25vh;
        padding-bottom: initial;
    }
    .youtube-title {
        width: initial;
    }
    .youtube-title h6 {
        margin: auto;
        font-size: 3vmin;
    }
    .content-container {
        display: inline-block;
        vertical-align: top;
    }
    .content-container,
    .loader-container {
        width: 25vw;
        margin: 2.5vw auto;
    }
    .video-container,
    .youtube-title h6,
    .loader-container {
        width: 20vw;
    }
    .loader-container {
        height: initial;
    }
}